In [12]:
import yfinance as yf
from bs4 import BeautifulSoup
import httpx
import pandas as pd
import numpy as np
import duckdb as db
from datetime import datetime

In [13]:
stocks=pd.read_csv("../../data/ind_nifty500list.csv")
stocks=stocks[["Symbol","Industry"]]

In [27]:
stocks

         Symbol                           Industry
0        360ONE                 Financial Services
1       3MINDIA                        Diversified
2           ABB                      Capital Goods
3           ACC             Construction Materials
4     ACMESOLAR                              Power
..          ...                                ...
496        ZEEL  Media Entertainment & Publication
497      ZENTEC                      Capital Goods
498  ZENSARTECH             Information Technology
499   ZYDUSLIFE                         Healthcare
500      ECLERX                           Services

[501 rows x 2 columns]

In [15]:
stocks["Industry"].value_counts()

Industry
Financial Services                   95
Capital Goods                        64
Healthcare                           50
Automobile and Auto Components       33
Fast Moving Consumer Goods           30
Information Technology               29
Chemicals                            27
Consumer Services                    25
Consumer Durables                    19
Oil Gas & Consumable Fuels           18
Metals & Mining                      17
Power                                17
Services                             15
Construction                         15
Realty                               11
Telecommunication                    11
Construction Materials                9
Textiles                              7
Media Entertainment & Publication     5
Diversified                           3
Forest Materials                      1
Name: count, dtype: int64

In [16]:
stocks["Industry"].nunique()

21

In [28]:
page = httpx.get("https://www.screener.in/company/3MINDIA/consolidated/#quarters")
soup = BeautifulSoup(page.text, "html.parser")

In [29]:
table = soup.find("section", {"id": "quarters"}).find("table")

In [30]:
table

<table class="data-table responsive-text-nowrap">
<thead>
<tr>
<th class="text"></th>
<th class="highlight-cell">
            Jun 2021

          </th>
<th class="">
            Sep 2021

          </th>
<th class="">
            Dec 2021

          </th>
<th class="">
            Mar 2022

          </th>
<th class="highlight-cell">
            Jun 2022

          </th>
<th class="">
            Sep 2022

          </th>
<th class="">
            Dec 2022

          </th>
<th class="">
            Mar 2023

          </th>
<th class="highlight-cell">
            Jun 2023

          </th>
<th class="">
            Sep 2023

          </th>
<th class="">
            Dec 2023

          </th>
<th class="">
            Mar 2024

          </th>
<th class="highlight-cell">
            Jun 2024

          </th>
</tr>
</thead>
<tbody>
<tr class="stripe">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Sales', 'quarters', this)">
                  Sales <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">744</td>
<td class="">840</td>
<td class="">826</td>
<td class="">926</td>
<td class="highlight-cell">944</td>
<td class="">977</td>
<td class="">993</td>
<td class="">1,046</td>
<td class="highlight-cell">1,050</td>
<td class="">1,040</td>
<td class="">1,006</td>
<td class="">1,095</td>
<td class="highlight-cell">1,047</td>
</tr>
<tr class="">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Expenses', 'quarters', this)">
                  Expenses <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">696</td>
<td class="">748</td>
<td class="">731</td>
<td class="">768</td>
<td class="highlight-cell">827</td>
<td class="">854</td>
<td class="">822</td>
<td class="">852</td>
<td class="highlight-cell">877</td>
<td class="">847</td>
<td class="">827</td>
<td class="">880</td>
<td class="highlight-cell">841</td>
</tr>
<tr class="stripe strong">
<td class="text">

                Operating Profit

            </td>
<td class="highlight-cell">48</td>
<td class="">92</td>
<td class="">95</td>
<td class="">158</td>
<td class="highlight-cell">116</td>
<td class="">123</td>
<td class="">171</td>
<td class="">194</td>
<td class="highlight-cell">173</td>
<td class="">192</td>
<td class="">179</td>
<td class="">214</td>
<td class="highlight-cell">205</td>
</tr>
<tr class="">
<td class="text">

                OPM %

            </td>
<td class="highlight-cell">6%</td>
<td class="">11%</td>
<td class="">12%</td>
<td class="">17%</td>
<td class="highlight-cell">12%</td>
<td class="">13%</td>
<td class="">17%</td>
<td class="">19%</td>
<td class="highlight-cell">16%</td>
<td class="">18%</td>
<td class="">18%</td>
<td class="">20%</td>
<td class="highlight-cell">20%</td>
</tr>
<tr class="stripe">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Other Income', 'quarters', this)">
                  Other Income <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">8</td>
<td class="">8</td>
<td class="">8</td>
<td class="">9</td>
<td class="highlight-cell">11</td>
<td class="">35</td>
<td class="">12</td>
<td class="">10</td>
<td class="highlight-cell">15</td>
<td class="">17</td>
<td class="">17</td>
<td class="">30</td>
<td class="highlight-cell">22</td>
</tr>
<tr class="">
<td class="text">

                Interest

            </td>
<td class="highlight-cell">1</td>
<td class="">1</td>
<td class="">0</td>
<td class="">2</td>
<td class="highlight-cell">1</td>
<td class="">0</td>
<td class="">1</td>
<td class="">6</td>
<td class="highlight-cell">1</td>
<td class="">1</td>
<td class="">1</td>
<td class="">1</td>
<td class="highlight-cell">3</td>
</tr>
<tr class="stripe">
<td class="text">

                Depreciation

            </td>
<td class="highlight-cell">15</td>
<td class="">13</td>
<td class="">14</td>
<td class="">13</td>
<td class="highlight-cell">14</td>
<td class="">15</td>
<td class="">15</td>
<td class="">14</td>
<td class="highlight-cell">14</td>
<td class="">13</td>
<td class="">13</td>
<td class="">13</td>
<td class="highlight-cell">14</td>
</tr>
<tr class="strong">
<td class="text">

                Profit before tax

            </td>
<td class="highlight-cell">41</td>
<td class="">87</td>
<td class="">89</td>
<td class="">151</td>
<td class="highlight-cell">113</td>
<td class="">143</td>
<td class="">167</td>
<td class="">184</td>
<td class="highlight-cell">173</td>
<td class="">196</td>
<td class="">181</td>
<td class="">231</td>
<td class="highlight-cell">211</td>
</tr>
<tr class="stripe">
<td class="text">

                Tax %

            </td>
<td class="highlight-cell">26%</td>
<td class="">26%</td>
<td class="">25%</td>
<td class="">27%</td>
<td class="highlight-cell">26%</td>
<td class="">26%</td>
<td class="">25%</td>
<td class="">26%</td>
<td class="highlight-cell">25%</td>
<td class="">25%</td>
<td class="">25%</td>
<td class="">25%</td>
<td class="highlight-cell">26%</td>
</tr>
<tr class="strong">
<td class="text">
<button class="button-plain" onclick="Company.showSchedule('Net Profit', 'quarters', this)">
                  Net Profit <span class="blue-icon">+</span>
</button>
</td>
<td class="highlight-cell">30</td>
<td class="">64</td>
<td class="">67</td>
<td class="">111</td>
<td class="highlight-cell">84</td>
<td class="">106</td>
<td class="">125</td>
<td class="">136</td>
<td class="highlight-cell">129</td>
<td class="">146</td>
<td class="">135</td>
<td class="">173</td>
<td class="highlight-cell">157</td>
</tr>
<tr class="stripe">
<td class="text">

                EPS in Rs

            </td>
<td class="highlight-cell">26.72</td>
<td class="">57.01</td>
<td class="">59.24</td>
<td class="">98.46</td>
<td class="highlight-cell">74.80</td>
<td class="">94.30</td>
<td class="">110.79</td>
<td class="">120.48</td>
<td class="highlight-cell">114.70</td>
<td class="">129.70</td>
<td class="">120.05</td>
<td class="">153.44</td>
<td class="highlight-cell">139.50</td>
</tr>
<tr class="font-size-14 ink-600">
<td class="text ink-600">Raw PDF</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/6/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/9/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/12/2021/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/3/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/6/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/9/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/12/2022/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/3/2023/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/6/2023/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/9/2023/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/12/2023/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/3/2024/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
<td class="hover-link highlight-cell">
<a aria-label="Raw PDF" class="plausible-event-name=Quarterly+PDF plausible-event-user=unregistered" href="/company/source/quarter/13/6/2024/" rel="noopener noreferrer" target="_blank">
<i class="icon-file-pdf ink-600-link"></i>
</a>
</td>
</tr>
</tbody>
</table>

In [32]:
headers = [datetime.strptime(th.get_text(strip=True), "%b %Y").strftime("%Y-%m") for th in table.find("thead").find_all("th")[1:]]

# Extract rows
rows = table.find("tbody").find_all("tr")

# Initialize dictionary
data = {header: {} for header in headers}


# Iterate over rows and populate data
for row in rows:
    cols = row.find_all("td")
    row_label = cols[0].get_text(strip=True).replace("+", "")
    for header, col in zip(headers, cols[1:]):
        value = col.get_text(strip=True).replace(',', '').replace('%', '')
        try:
            value = float(value) if '.' in value else int(value)
        except ValueError:
            value = None
        data[header][row_label] = value

print(data)

{'2021-06': {'Sales': 744, 'Expenses': 696, 'Operating Profit': 48, 'OPM %': 6, 'Other Income': 8, 'Interest': 1, 'Depreciation': 15, 'Profit before tax': 41, 'Tax %': 26, 'Net Profit': 30, 'EPS in Rs': 26.72, 'Raw PDF': None}, '2021-09': {'Sales': 840, 'Expenses': 748, 'Operating Profit': 92, 'OPM %': 11, 'Other Income': 8, 'Interest': 1, 'Depreciation': 13, 'Profit before tax': 87, 'Tax %': 26, 'Net Profit': 64, 'EPS in Rs': 57.01, 'Raw PDF': None}, '2021-12': {'Sales': 826, 'Expenses': 731, 'Operating Profit': 95, 'OPM %': 12, 'Other Income': 8, 'Interest': 0, 'Depreciation': 14, 'Profit before tax': 89, 'Tax %': 25, 'Net Profit': 67, 'EPS in Rs': 59.24, 'Raw PDF': None}, '2022-03': {'Sales': 926, 'Expenses': 768, 'Operating Profit': 158, 'OPM %': 17, 'Other Income': 9, 'Interest': 2, 'Depreciation': 13, 'Profit before tax': 151, 'Tax %': 27, 'Net Profit': 111, 'EPS in Rs': 98.46, 'Raw PDF': None}, '2022-06': {'Sales': 944, 'Expenses': 827, 'Operating Profit': 116, 'OPM %': 12, 'Other Income': 11, 'Interest': 1, 'Depreciation': 14, 'Profit before tax': 113, 'Tax %': 26, 'Net Profit': 84, 'EPS in Rs': 74.8, 'Raw PDF': None}, '2022-09': {'Sales': 977, 'Expenses': 854, 'Operating Profit': 123, 'OPM %': 13, 'Other Income': 35, 'Interest': 0, 'Depreciation': 15, 'Profit before tax': 143, 'Tax %': 26, 'Net Profit': 106, 'EPS in Rs': 94.3, 'Raw PDF': None}, '2022-12': {'Sales': 993, 'Expenses': 822, 'Operating Profit': 171, 'OPM %': 17, 'Other Income': 12, 'Interest': 1, 'Depreciation': 15, 'Profit before tax': 167, 'Tax %': 25, 'Net Profit': 125, 'EPS in Rs': 110.79, 'Raw PDF': None}, '2023-03': {'Sales': 1046, 'Expenses': 852, 'Operating Profit': 194, 'OPM %': 19, 'Other Income': 10, 'Interest': 6, 'Depreciation': 14, 'Profit before tax': 184, 'Tax %': 26, 'Net Profit': 136, 'EPS in Rs': 120.48, 'Raw PDF': None}, '2023-06': {'Sales': 1050, 'Expenses': 877, 'Operating Profit': 173, 'OPM %': 16, 'Other Income': 15, 'Interest': 1, 'Depreciation': 14, 'Profit before tax': 173, 'Tax %': 25, 'Net Profit': 129, 'EPS in Rs': 114.7, 'Raw PDF': None}, '2023-09': {'Sales': 1040, 'Expenses': 847, 'Operating Profit': 192, 'OPM %': 18, 'Other Income': 17, 'Interest': 1, 'Depreciation': 13, 'Profit before tax': 196, 'Tax %': 25, 'Net Profit': 146, 'EPS in Rs': 129.7, 'Raw PDF': None}, '2023-12': {'Sales': 1006, 'Expenses': 827, 'Operating Profit': 179, 'OPM %': 18, 'Other Income': 17, 'Interest': 1, 'Depreciation': 13, 'Profit before tax': 181, 'Tax %': 25, 'Net Profit': 135, 'EPS in Rs': 120.05, 'Raw PDF': None}, '2024-03': {'Sales': 1095, 'Expenses': 880, 'Operating Profit': 214, 'OPM %': 20, 'Other Income': 30, 'Interest': 1, 'Depreciation': 13, 'Profit before tax': 231, 'Tax %': 25, 'Net Profit': 173, 'EPS in Rs': 153.44, 'Raw PDF': None}, '2024-06': {'Sales': 1047, 'Expenses': 841, 'Operating Profit': 205, 'OPM %': 20, 'Other Income': 22, 'Interest': 3, 'Depreciation': 14, 'Profit before tax': 211, 'Tax %': 26, 'Net Profit': 157, 'EPS in Rs': 139.5, 'Raw PDF': None}}

In [ ]:
# convert Dec 2021 to 2021-12 using strptime

In [33]:
data

{'2021-06': {'Sales': 744,
  'Expenses': 696,
  'Operating Profit': 48,
  'OPM %': 6,
  'Other Income': 8,
  'Interest': 1,
  'Depreciation': 15,
  'Profit before tax': 41,
  'Tax %': 26,
  'Net Profit': 30,
  'EPS in Rs': 26.72,
  'Raw PDF': None},
 '2021-09': {'Sales': 840,
  'Expenses': 748,
  'Operating Profit': 92,
  'OPM %': 11,
  'Other Income': 8,
  'Interest': 1,
  'Depreciation': 13,
  'Profit before tax': 87,
  'Tax %': 26,
  'Net Profit': 64,
  'EPS in Rs': 57.01,
  'Raw PDF': None},
 '2021-12': {'Sales': 826,
  'Expenses': 731,
  'Operating Profit': 95,
  'OPM %': 12,
  'Other Income': 8,
  'Interest': 0,
  'Depreciation': 14,
  'Profit before tax': 89,
  'Tax %': 25,
  'Net Profit': 67,
  'EPS in Rs': 59.24,
  'Raw PDF': None},
 '2022-03': {'Sales': 926,
  'Expenses': 768,
  'Operating Profit': 158,
  'OPM %': 17,
  'Other Income': 9,
  'Interest': 2,
  'Depreciation': 13,
  'Profit before tax': 151,
  'Tax %': 27,
  'Net Profit': 111,
  'EPS in Rs': 98.46,
  'Raw PDF': None},
 '2022-06': {'Sales': 944,
  'Expenses': 827,
  'Operating Profit': 116,
  'OPM %': 12,
  'Other Income': 11,
  'Interest': 1,
  'Depreciation': 14,
  'Profit before tax': 113,
  'Tax %': 26,
  'Net Profit': 84,
  'EPS in Rs': 74.8,
  'Raw PDF': None},
 '2022-09': {'Sales': 977,
  'Expenses': 854,
  'Operating Profit': 123,
  'OPM %': 13,
  'Other Income': 35,
  'Interest': 0,
  'Depreciation': 15,
  'Profit before tax': 143,
  'Tax %': 26,
  'Net Profit': 106,
  'EPS in Rs': 94.3,
  'Raw PDF': None},
 '2022-12': {'Sales': 993,
  'Expenses': 822,
  'Operating Profit': 171,
  'OPM %': 17,
  'Other Income': 12,
  'Interest': 1,
  'Depreciation': 15,
  'Profit before tax': 167,
  'Tax %': 25,
  'Net Profit': 125,
  'EPS in Rs': 110.79,
  'Raw PDF': None},
 '2023-03': {'Sales': 1046,
  'Expenses': 852,
  'Operating Profit': 194,
  'OPM %': 19,
  'Other Income': 10,
  'Interest': 6,
  'Depreciation': 14,
  'Profit before tax': 184,
  'Tax %': 26,
  'Net Profit': 136,
  'EPS in Rs': 120.48,
  'Raw PDF': None},
 '2023-06': {'Sales': 1050,
  'Expenses': 877,
  'Operating Profit': 173,
  'OPM %': 16,
  'Other Income': 15,
  'Interest': 1,
  'Depreciation': 14,
  'Profit before tax': 173,
  'Tax %': 25,
  'Net Profit': 129,
  'EPS in Rs': 114.7,
  'Raw PDF': None},
 '2023-09': {'Sales': 1040,
  'Expenses': 847,
  'Operating Profit': 192,
  'OPM %': 18,
  'Other Income': 17,
  'Interest': 1,
  'Depreciation': 13,
  'Profit before tax': 196,
  'Tax %': 25,
  'Net Profit': 146,
  'EPS in Rs': 129.7,
  'Raw PDF': None},
 '2023-12': {'Sales': 1006,
  'Expenses': 827,
  'Operating Profit': 179,
  'OPM %': 18,
  'Other Income': 17,
  'Interest': 1,
  'Depreciation': 13,
  'Profit before tax': 181,
  'Tax %': 25,
  'Net Profit': 135,
  'EPS in Rs': 120.05,
  'Raw PDF': None},
 '2024-03': {'Sales': 1095,
  'Expenses': 880,
  'Operating Profit': 214,
  'OPM %': 20,
  'Other Income': 30,
  'Interest': 1,
  'Depreciation': 13,
  'Profit before tax': 231,
  'Tax %': 25,
  'Net Profit': 173,
  'EPS in Rs': 153.44,
  'Raw PDF': None},
 '2024-06': {'Sales': 1047,
  'Expenses': 841,
  'Operating Profit': 205,
  'OPM %': 20,
  'Other Income': 22,
  'Interest': 3,
  'Depreciation': 14,
  'Profit before tax': 211,
  'Tax %': 26,
  'Net Profit': 157,
  'EPS in Rs': 139.5,
  'Raw PDF': None}}

In [36]:
temp=pd.DataFrame(data).T

In [39]:
temp.pct_change().round(3)

/var/folders/jf/1r7jb1_s6ys1p0n0n56s2qsh0000gn/T/ipykernel_5993/2850249356.py:1: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  temp.pct_change().round(3)

,Sales,Expenses,Operating Profit,OPM %,Other Income,Interest,Depreciation,Profit before tax,Tax %,Net Profit,EPS in Rs,Raw PDF
2021-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09,0.129,0.075,0.917,0.833,0.000,0.000,-0.133,1.122,0.000,1.133,1.134,NaN
2021-12,-0.017,-0.023,0.033,0.091,0.000,-1.000,0.077,0.023,-0.038,0.047,0.039,NaN
2022-03,0.121,0.051,0.663,0.417,0.125,inf,-0.071,0.697,0.080,0.657,0.662,NaN
2022-06,0.019,0.077,-0.266,-0.294,0.222,-0.500,0.077,-0.252,-0.037,-0.243,-0.240,NaN
2022-09,0.035,0.033,0.060,0.083,2.182,-1.000,0.071,0.265,0.000,0.262,0.261,NaN
2022-12,0.016,-0.037,0.390,0.308,-0.657,inf,0.000,0.168,-0.038,0.179,0.175,NaN
2023-03,0.053,0.036,0.135,0.118,-0.167,5.000,-0.067,0.102,0.040,0.088,0.087,NaN
2023-06,0.004,0.029,-0.108,-0.158,0.500,-0.833,0.000,-0.060,-0.038,-0.051,-0.048,NaN
2023-09,-0.010,-0.034,0.110,0.125,0.133,0.000,-0.071,0.133,0.000,0.132,0.131,NaN
2023-12,-0.033,-0.024,-0.068,0.000,0.000,0.000,0.000,-0.077,0.000,-0.075,-0.074,NaN
2024-03,0.088,0.064,0.196,0.111,0.765,0.000,0.000,0.276,0.000,0.281,0.278,NaN
2024-06,-0.044,-0.044,-0.042,0.000,-0.267,2.000,0.077,-0.087,0.040,-0.092,-0.091,NaN