In [4]:
import pandas as pd
import numpy as np

In [5]:
# Sample data
df = pd.DataFrame({
    "Symbol": ["AAPL"]*5 + ["MSFT"]*5,
    "Date": pd.date_range("2023-01-01", periods=5).tolist() * 2,
    "Open":  [149, 151, 152, 150, 154, 248, 251, 248, 254, 258],
    "High":  [151, 153, 154, 152, 156, 252, 254, 251, 257, 262],
    "Low":   [148, 150, 151, 149, 153, 247, 249, 247, 253, 257],
    "Close": [150, 152, 153, 151, 155, 250, 252, 249, 255, 260]
})

# Rolling within each Symbol
df["roll_mean_3"] = (
    df.groupby("Symbol", group_keys=False)["Close"]
      .transform(lambda x: x.rolling(3, min_periods=1).mean())
)

df["roll_std_3"] = (
    df.groupby("Symbol")["Close"]
      .transform(lambda x: x.rolling(3, min_periods=1).std())
)
df.head(10)

  Symbol       Date  Open  High  Low  Close  roll_mean_3  roll_std_3
0   AAPL 2023-01-01   149   151  148    150   150.000000         NaN
1   AAPL 2023-01-02   151   153  150    152   151.000000    1.414214
2   AAPL 2023-01-03   152   154  151    153   151.666667    1.527525
3   AAPL 2023-01-04   150   152  149    151   152.000000    1.000000
4   AAPL 2023-01-05   154   156  153    155   153.000000    2.000000
5   MSFT 2023-01-01   248   252  247    250   250.000000         NaN
6   MSFT 2023-01-02   251   254  249    252   251.000000    1.414214
7   MSFT 2023-01-03   248   251  247    249   250.333333    1.527525
8   MSFT 2023-01-04   254   257  253    255   252.000000    3.000000
9   MSFT 2023-01-05   258   262  257    260   254.666667    5.507571

In [17]:
# group_keys=True (default)
out1 = df.groupby("Symbol").apply(lambda g: g.head(2))
print("With group_keys=True:\n", out1)

# group_keys=False
out2 = df.groupby("Symbol", group_keys=False).apply(lambda g: g.head(2))
print("\nWith group_keys=False:\n", out2)

With group_keys=True:
          Symbol       Date  Open  High  Low  Close  roll_mean_3  roll_std_3
Symbol
AAPL   0   AAPL 2023-01-01   149   151  148    150        150.0         NaN
       1   AAPL 2023-01-02   151   153  150    152        151.0    1.414214
MSFT   5   MSFT 2023-01-01   248   252  247    250        250.0         NaN
       6   MSFT 2023-01-02   251   254  249    252        251.0    1.414214

With group_keys=False:
   Symbol       Date  Open  High  Low  Close  roll_mean_3  roll_std_3
0   AAPL 2023-01-01   149   151  148    150        150.0         NaN
1   AAPL 2023-01-02   151   153  150    152        151.0    1.414214
5   MSFT 2023-01-01   248   252  247    250        250.0         NaN
6   MSFT 2023-01-02   251   254  249    252        251.0    1.414214

/var/folders/jf/1r7jb1_s6ys1p0n0n56s2qsh0000gn/T/ipykernel_10405/1212816940.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  out1 = df.groupby("Symbol").apply(lambda g: g.head(2))
/var/folders/jf/1r7jb1_s6ys1p0n0n56s2qsh0000gn/T/ipykernel_10405/1212816940.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  out2 = df.groupby("Symbol", group_keys=False).apply(lambda g: g.head(2))

In [28]:
# group_keys=True (default)
# out1 = df.groupby("Symbol").apply(lambda g: g.head(2), include_groups=False)
# print("With group_keys=True:\n", out1)

# group_keys=False
out2 = df.groupby("Symbol", group_keys=False).apply(
    lambda g: g.head(2).assign(Symbol=g.name),  # g.name gives the current group label
    include_groups=False
)
out2

        Date  Open  High  Low  Close  roll_mean_3  roll_std_3 Symbol
0 2023-01-01   149   151  148    150        150.0         NaN   AAPL
1 2023-01-02   151   153  150    152        151.0    1.414214   AAPL
5 2023-01-01   248   252  247    250        250.0         NaN   MSFT
6 2023-01-02   251   254  249    252        251.0    1.414214   MSFT

In [24]:
df.groupby("Symbol")[["High", "Low"]].transform(lambda x: x["High"].values - x["Low"].values)

KeyError: 'High'

In [ ]:
df.groupby("Symbol")[["Open", "Close"]].transform(lambda x: (x - x.mean()))

In [15]:
df["hl_range"]

0    160
1    162
2    163
3    161
4    165
5    260
6    262
7    259
8    265
9    270
Name: hl_range, dtype: int64